# Virtual environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Model file (optional - agar large ho)
model.pkl

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker (optional)
*.tar

# IDE files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/